/* Global ------------------------------------*/

:root {
    --darkgreyT: #7D1F1D;
    --darkgrey: #141414;
    --offwhite: #f7f7f7;
    --puregrey: #c5c5c5;
}

html {
    font-family: 'Barlow', sans-serif;
}

body {
    font-family: 'Barlow', sans-serif;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100vh;
    background-color: white;
    background-image: url('../imgs/HomeBottombkg.svg');
    background-repeat: no-repeat;
	background-position: bottom ;
    background-size: cover;
}


/* SideNav *************************************/

.overlay, .sideMenu {
    position: fixed;
    bottom: 0
}

.overlay {
    top: 0;
    left: -100%;
    right: 100%;
    margin: auto;
    background-color: rgba(255, 255, 255, .5);
    z-index: 998;
    transition: all ease 0.2s
}

.overlay.open {
    left: 0;
    right: 0;
}

.sidebarNavigation {
    margin-bottom: 0;
    z-index: 999;
    justify-content: flex-start
}

.sidebarNavigation .leftNavbarToggler {
    margin-right: 10px;
    order: -1
}

.sideMenu {
    left: -100%;
    top: 63px;
    transition: all ease-in-out 0.5s;
    overflow: hidden;
    width: 30%;
    z-index: 999;
    max-width: 80%;
    margin-bottom: 0;
    padding: 1rem;
    border-bottom-right-radius: 5px;
}

.sideMenu.open {
    left: 0;
    display: block;
    overflow-y: auto
}

.sideMenu ul {
    margin: 0;
    padding: 0 15px;
    color: black;
    font-size: 20px;
    font-weight: 500;
}

.navbar {
    background-color: var(--darkgrey);
}



.navbar-toggler-icon {
    background-image: url('../imgs/HamMenu.svg');
    background-size: cover;
    
}

.navbar-brand .navBrand {
    margin-left: 20px;
    color: var(--offwhite);
    font-size: 24px;
    font-weight: 700;
}

nav .navbar-nav li a {
    text-transform: none;
    text-decoration: none;
    color: var(--puregrey);
    font-size: 18px;
    font-weight: 500;
    margin-left: 1em;
}

nav .navbar-nav li a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: var(--offwhite);
    transition: width .3s;
}

.navbar-nav>li.nav-item.active>a.nav-link {
    text-decoration: none;
    color: var(--offwhite);
}

nav .NavLinkz {
    margin-right: 4em;
}

.navbar-nav>li.nav-item>a.nav-link:hover::after {
    width: 100%;
}



/*Body Elements********************************/

.Home {
    width: 100%;
    height: 100vh;
    padding-left: 1em;
    padding-right: 1em;
}

.HomeContainer {
    display: flex;
    flex-direction: row;
}

#HomeLeft {
    width: 55%;
    height: 100vh;
    
}

#HomeRight {
    width: 45%;
    height: 100vh;
    padding: 5em;
}

#HRcontainer {
    margin-top: 7em;
    padding: 3em;
}

#HomeILL {

    width: 85%;
    height: 85%;
    margin: auto;
    background-image: url('../imgs/homebgResponsive.svg');
    background-repeat: no-repeat;
	background-position: center center;
    background-size: contain;

}

.HomeH1 {
    color: var(--darkgrey);
    font-weight: 700;
    font-size: 40px;
    margin: 0;
}

.HomeH2 {
    color: var(--darkgrey);
    font-weight: 300;
    font-size: 40px;
    margin: 0;
}

.HomeP {
    margin-top: 1.5em;
    color: var(--darkgrey);
    font-weight: 300;
    font-size: 25px;
    line-height: 24px;
}
.HomeBtn {
    width: 110px;
    height: 40px;
    margin-top: 1em;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.40);
}


/*Responsive***********************/

@media (min-width: 300px) and (max-width: 768px) {
     /*phone - tablet*/
     .navbar-brand .navBrand {
        margin-left: 8em;
        font-size: 20px;
        font-weight: 600;
    }

    .Home {
        width: 100%;
        height: auto;
        padding-top: 3em;
        padding-bottom: 3em;
    }
    .HomeContainer {
        display: block;
        
    }
    #HomeLeft {
        margin-top: 1em;
        width: 100%;
        height: 100%;
        
    }
    #HomeILL {
        width: 400px;
        height: 400px;
        margin: auto;
        background-image: url('../imgs/homebgResponsive.svg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 100%
    
    }

    #HomeRight {
        width: 100%;
        height: 100%;
    }
    #HRcontainer {
        margin-top: 0;
        padding: 0;
    }
   
    .navbar-nav>li.nav-item.active>a.nav-link {
        text-decoration: none;
        color: var(--darkgrey);
    }
    body {
       
        background-image: none;
       
    }
   
}


@media (min-width: 768px) and (max-width: 960px) {
    /*tablet - laptop*/


}

@media (min-width: 960px) and (max-width: 1280px) {
    /*laptop - desktop*/
    
   
}

@media(min-width: 1281px) {
    /*desktop - larger*/
   
}