/* Global ------------------------------------*/

:root {
    --darkgreyT: #7D1F1D;
    --darkgrey: #141414;
    --offwhite: #f7f7f7;
    --puregrey: #c5c5c5;
}

html {
    font-family: 'Barlow', sans-serif;
}

body {
    font-family: 'Barlow', sans-serif;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    background-color: var(--offwhite)
}

/*Body Elements********************************/

h1, h2, h3, h4, h5, h6, p {
    color: var(--darkgrey);
    margin: 0;
    padding: 0;
}

ul {
    margin-left: 10px;
}

a {
    text-decoration: none;
}

a {
    text-decoration: none;
}

footer p .fotterLinks {
    text-decoration: none;
    text-decoration-color: none;
}

p {
    margin-top: 2em;
}

#SectionAbout {
    margin-top: 8em;
    padding-top: 1em;
    padding-bottom: 5em;
}

#Usage {
    padding-top: 4em;
    padding-bottom: 4em;
}

.cardImg {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

#TeamH1 {
    color: var(--offwhite);
    margin-bottom: 2em;
}

#team {
    width: 100%;
    height: auto;
    padding-top: 1em;
    padding-bottom: 5em;
    background-color: var(--darkgrey)
}

/*Responsive***********************/

@media (min-width: 300px) and (max-width: 960px) {}

/*add Phone Landscape*/

@media (min-width: 768px) and (max-width: 960px) {

    /*Tables Portrait*/
}

/*add tablet Landscape*/

@media (min-width: 960px) and (max-width: 1280px) {
    /*laptop and larger*/
}

@media(min-width: 1281px) {
    /*desktop and larger*/
}