/* Global ------------------------------------*/

:root {
    --darkred: #7D1F1D;
    --darkgrey: #141414;
    --offwhite: #f7f7f7;
    --puregrey: #c5c5c5;
}

html {
    font-family: 'Barlow', sans-serif;
}

body {
    font-family: 'Barlow', sans-serif;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    background-color: var(--offwhite);
    position: relative;
}

/* SideNav *************************************/

.navbar {
    background-color: var(--darkgrey);
}

.navbar-toggler-icon {
    background-image: url('../imgs/HamMenu.svg');
    background-size: cover;
}

.navbar-brand .navBrand {
    margin-left: 20px;
    color: var(--offwhite);
    font-size: 24px;
    font-weight: 700;
}

nav .navbar-nav li a {
    text-transform: none;
    text-decoration: none;
    color: var(--puregrey);
    font-size: 18px;
    font-weight: 500;
    margin-left: 1em;
}

nav .navbar-nav li a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: var(--offwhite);
    transition: width .3s;
}

.navbar-nav>li.nav-item.active>a.nav-link {
    text-decoration: none;
    color: var(--offwhite);
}

nav .NavLinkz {
    margin-right: 4em;
}

.navbar-nav>li.nav-item>a.nav-link:hover::after {
    width: 100%;
}

/**** Home */

.Home {
    width: 100%;
    height: 100vh;
    padding-left: 1em;
    padding-right: 1em;
}

.HomeContainer {
    display: flex;
    flex-direction: row;
}

#HomeLeft {
    width: 55%;
    height: 100vh;
}

#HomeRight {
    width: 45%;
    height: 100vh;
}

#HRcontainer {
    margin-top: 6em;
    padding: 3em;
}

#HomeILL {
    width: 85%;
    height: 85%;
    margin: auto;
    background-image: url('../imgs/homebgResponsive.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.HomeH1 {
    color: var(--darkgrey);
    font-weight: 700;
    font-size: 60px;
    margin: 0;
}

.HomeH2 {
    color: var(--darkgrey);
    font-weight: 300;
    font-size: 50px;
    margin: 0;
}

.HomeP {
    margin-top: 1.5em;
    color: var(--darkgrey);
    font-weight: 300;
    font-size: 25px;
    line-height: 30px;
}

.HomeBtn {
    width: 110px;
    height: 40px;
    margin-top: 1em;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.40);
}

/*Body Elements********************************/

/**** find css */

.findWrapper {
    display: flex;
    overflow: hidden;
}

.leftWrapper {
    order: 1;
    width: 23%;
    height: 100%;
    background: linear-gradient(135deg, #434343, #000000);
}

.rightWrapper {
    order: 2;
    width: 100%;
    height: auto;
    background-color: #FFFFFF
}

#form {
    align-items: center;
    margin-top: 3em;
}

#searchLabel {
    color: var(--offwhite);
}

.DataFrom {
    margin-top: 10em;
    text-decoration: none;
    color: var(--puregrey)
}

#searchResultsWrap {
    padding: 5em;
}

.searchResultsWrap2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.searchTextPH {
    text-align: center;
    flex: 0 0 100%;
}

#card-header-blue {
    color: #FFFFFF;
    background: linear-gradient(135deg, #434343, #000000);
}

.card {
    margin: 2em;
    transition: all 0.2s ease;
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.15);
}

.card:hover {
    transform: scale(0.99);
}

svg {
    margin: 2em;
}

footer {
    margin-top: 10rem;
}

/*Responsive***********************/

@media (min-width: 300px) and (max-width: 960px) {
    /*Tables and smaller*/
    .findWrapper {
        display: block;
        overflow: hidden;
    }
    .leftWrapper {
        width: 100%;
        height: 40%;
    }
    .card:hover {
        transform: none;
    }
    #searchResultsWrap {
        padding: 2em;
    }
    svg {
        margin: 0;
    }
    .DataFrom {
        margin-top: 0
    }
}

/*add Phone Landscape*/

@media (min-width: 768px) and (max-width: 960px) {
    /*Tables Portrait*/
    .findWrapper {
        display: block;
        overflow: hidden;
    }
    .card:hover {
        transform: none;
    }
    .DataFrom {
        margin-top: 0
    }
}

/*add tablet Landscape*/

@media (min-width: 960px) and (max-width: 1280px) {}

@media(min-width: 1281px) {
    /*desktop and larger*/
}