/* Global ------------------------------------*/

:root {
    --darkred: #7D1F1D;
    --darkgrey: #121212;
    --offwhite: #f7f7f7;
    --puregrey: #c5c5c5;
}

html {
    font-family: 'Poppins', sans-serif;
}

header {
    font-family: 'Barlow', sans-serif;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    background-color: black;
    position: relative;
}

/* map *************************/

.leaflet-container {
    height: 400px;
    width: 80%;
    margin: 80px auto 10px;
}

/* SideNav *************************************/

.navbar {
    padding-left: 0;
    padding-right: 0;
   
    
    /* background-image: url('../imgs/stripes.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain; */
}

.navbarWrapper_SVG{
    background: linear-gradient(190deg, #4014D3 0%, #3850D6 100%);
    padding-left: 140px;
    padding-right: 140px;
    
}

.navbar-toggler-icon {
    background-image: url('../imgs/HamMenu.svg');
    background-size: cover;
}

.navbar-brand .navBrand {
    color: var(--offwhite);
    font-size: 24px;
    font-weight: 700;
}

nav .navbar-nav li a {
    text-transform: none;
    text-decoration: none;
    color: var(--offwhite);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    margin-left: 1em;
}

nav .navbar-nav li a::after {
    content: '';
    display: block;
    width: 0;
    height: 0.5px;
    background: #3850D6;
    transition: width .2s;
}

/* .navbar-nav>li.nav-item.active>a.nav-link {
    text-decoration: none;
    color: var(--offwhite);
} */

nav .NavLinkz {
    margin-right: 2em;
}

.navbar-nav>li.nav-item>a.nav-link:hover::after {
    width: 100%;
}


.navDivider {
    height: 18px;
    text-align: center;
    margin-top: 12.5px;
    margin-left: 1em;
   
    border-left: 1px solid white
}

/**** Home */

.Home {
    width: 100%;
    height: 100vh;
    background: #1f1f1f;
   
}

.HomeContainer {
    display: flex;
    flex-direction: row;
    padding-left: 140px;
    padding-right: 140px;
    
    
}

#HomeLeft {
    width: 55%;
    height: 100vh;
    align-content: center;
    /* border: 4px solid #fff; */

}

#HomeRight {
    width: 45%;
    height: 100vh;
}

#HRcontainer {
    margin-top: 13em;
    padding-left: 0;
    padding-right: 0;
}
.HomeWrapper{
   
    width: 100%;
    height: 100%;
    background-image: url('../imgs/homebkgsvg.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;

}

#HomeILL {
    text-align: center;
    width: 85%;
    height: 85%;
    margin: auto;
    background-image: url('../imgs/homebgResponsive.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.HomeH1 {
    color: var(--offwhite);
    font-weight: 700;
    font-size: 60px;
    margin-bottom: 1em;
}

.HomeH2 {
    color: var(--offwhite);
    font-weight: 300;
    font-size: 50px;
    margin: 0;
}

.HomeP {
    margin-bottom: 4em;
    color:#A1A1A1;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

.HomeBtn {
    text-align: center;
    color: var(--offwhite);
    font-size: 18px;
    font-weight: 400;
    width: 140px;
    height: 40px;
    border: none;
    border-radius: 0;
    background: #3850D6 ;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.522);
}
.HomeBtn :hover{
    color: var(--offwhite);
}



/*Body Elements********************************/

/**** find css */

.findWrapper {
    display: flex;
    overflow: hidden;
}
.leftWrapper {
   position: relative;
    order: 1;
    width: 23%;
    height: auto;
    background: #1c1c1c;
}

.rightWrapper {
    order: 2;
    width: 100%;
    height: auto;
    background-color: #121212;
}
.MapContainer{
    font-size: 8px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.522);
    border-radius: 10px;

}


.sidebarHeader{
    margin-top:80px;
    color: var(--offwhite);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 30px;
    
}
.sidebarSubHeaders{
    color: var(--offwhite);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    
}
#searchQueryDemo ,#searchQuery{
    color: #A1A1A1;
    background-color: #333333;
    border: #121212;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

#form {
    align-items: center;
    margin-top: 3em;
}

#searchLabel {
    color: var(--offwhite);
}

.DataFrom {
    margin-top: 10em;
    text-decoration: none;
    color: var(--puregrey)
}

#searchResultsWrap {
    padding: 5em;
}

.searchResultsWrap2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.featuredDivider{
    border-top-style: solid;
    border-top-color: #1c1c1c;
}

.searchTextPH {
    margin-top: 40px;
    font-weight: 500;
    color: var(--offwhite);
    text-align: center;
    flex: 0 0 100%;
}

#card-header-blue {
    border: none;
    color: #FFFFFF;
    background: #1c1c1c;
}
.card-subtitle {
    margin-top: 3px;
        color:grey;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 12px;
       
}
.card-body{
    border: none;
    background: #121212;
}
.card-text {
    color:#A1A1A1;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
}
.card-text strong{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
}
.card-body a{
    background: #1c1c1c;
    color:white;
    border: black;
}
.card-body a:hover{
    background:#3850D6;
    
}
#favBtn{
    background: #1c1c1c;
    color:white;
    border: black;
    
}
#favBtn:hover{
    background: #B51818;
}

.card {
    margin: 2em;
    transition: all 0.2s ease;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.522);
    border: none;
}

.card:hover {
    border: none;
    transform: scale(0.99);
}



svg {
    margin: 2em;
}

footer {
    background:#141414;
    padding: 0.5em;
}

footer h6 {
    color: var(--offwhite);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
}

footer .line {
    border-color: white;
}

footer p,a {
    color:#A1A1A1;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
}
.footerCS {
    margin-top:0;
    padding:3;

}

/*Responsive***********************/
/*From Phone to Tablet*/
@media (min-width: 300px) and (max-width: 960px) {
    nav .navbar-nav li a::after {
        display: none;
    }
    .navDivider {
        display: none;
     }
    .findWrapper {
        display: block;
        overflow: hidden;
    }
    .leftWrapper {
        width: 100%;
        height: 40%;
    }
    .card:hover {
        transform: none;
    }
    #searchResultsWrap {
        padding: 2em;
    }
    svg {
        margin: 0;
    }
    .DataFrom {
        margin-top: 0
    }
    /***Home section**/
    .Home {
        width: 100%;
        height: auto;
        padding-top: 3em;
        padding-bottom: 3em;
    }
    .HomeContainer {
        display: block;
    }
    #HomeLeft {
        margin-top: 1em;
        width: 100%;
        height: 100%;
    }
    #HomeILL {
        width: 400px;
        height: 400px;
        margin: auto;
        background-image: url('../imgs/homebgResponsive.svg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 100%
    }
    #HomeRight {
        width: 100%;
        height: 100%;
    }
    #HRcontainer {
        margin-top: 0;
        padding: 0;
    }
    
}

/*from tablet to laptop*/
@media (min-width: 768px) and (max-width: 960px) {
    nav .navbar-nav li a::after {
        display: none;
    }
    .findWrapper {
        display: block;
        overflow: hidden;
    }
    .card:hover {
        transform: none;
    }
    .DataFrom {
        margin-top: 0
    }
    .navDivider {
       display: none;
    }
}

/*from laptop to desktop */
@media (min-width: 960px) and (max-width: 1280px) {}

 /*from desktop to larger*/
@media(min-width: 1281px) {

}