/* Global ------------------------------------*/

:root {
    --darkred: #7D1F1D;
    --darkgrey: #141414;
    --offwhite: #f7f7f7;
    --puregrey: #c5c5c5;
}

html {
    font-family: 'Poppins', sans-serif;
}

header {
    font-family: 'Barlow', sans-serif;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    background-color: black;
    position: relative;
}

/* SideNav *************************************/

.navbar {
    background-color: black;
}

.navbar-toggler-icon {
    background-image: url('../imgs/HamMenu.svg');
    background-size: cover;
}

.navbar-brand .navBrand {
    margin-left: 20px;
    color: var(--offwhite);
    font-size: 24px;
    font-weight: 700;
}

nav .navbar-nav li a {
    text-transform: none;
    text-decoration: none;
    color: var(--offwhite);
    font-size: 18px;
    font-weight: 600;
    margin-left: 1em;
}

nav .navbar-nav li a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: var(--offwhite);
    transition: width .3s;
}

/* .navbar-nav>li.nav-item.active>a.nav-link {
    text-decoration: none;
    color: var(--offwhite);
} */

nav .NavLinkz {
    margin-right: 2em;
}

.navbar-nav>li.nav-item>a.nav-link:hover::after {
    width: 100%;
}

.navDivider {
    height: 18px;
    text-align: center;
    margin-top: 12.5px;
    margin-left: 1em;
   
    border-left: 1px solid white
}

/**** Home */

.Home {
    width: 100%;
    height: 100vh;
    padding-left: 1em;
    padding-right: 1em;
    background-color: var(--offwhite);
}

.HomeContainer {
    display: flex;
    flex-direction: row;
}

#HomeLeft {
    width: 55%;
    height: 100vh;
}

#HomeRight {
    width: 45%;
    height: 100vh;
}

#HRcontainer {
    margin-top: 10em;
    padding: 3em;
}

#HomeILL {
    width: 85%;
    height: 85%;
    margin: auto;
    background-image: url('../imgs/homebgResponsive.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.HomeH1 {
    color: var(--darkgrey);
    font-weight: 700;
    font-size: 60px;
    margin: 0;
}

.HomeH2 {
    color: var(--darkgrey);
    font-weight: 300;
    font-size: 50px;
    margin: 0;
}

.HomeP {
    margin-top: 1.5em;
    color: var(--darkgrey);
    font-weight: 300;
    font-size: 25px;
    line-height: 30px;
}

.HomeBtn {
    width: 110px;
    height: 40px;
    margin-top: 1em;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.40);
}

/*Body Elements********************************/

/**** find css */

.findWrapper {
    display: flex;
    overflow: hidden;
}

.leftWrapper {
    order: 1;
    width: 23%;
    height: 100vh;
    background: linear-gradient(135deg, #434343, #000000);
}

.rightWrapper {
    order: 2;
    width: 100%;
    height: auto;
    background-color: white;
}

#form {
    align-items: center;
    margin-top: 3em;
}

#searchLabel {
    color: var(--offwhite);
}

.DataFrom {
    margin-top: 10em;
    text-decoration: none;
    color: var(--puregrey)
}

#searchResultsWrap {
    padding: 5em;
}

.searchResultsWrap2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.searchTextPH {
    font-weight: 600;
    color: var(--darkgrey);
    text-align: center;
    flex: 0 0 100%;
}

#card-header-blue {
    color: #FFFFFF;
    background: linear-gradient(135deg, #434343, #000000);
}

.card {
    margin: 2em;
    transition: all 0.2s ease;
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.15);
}

.card:hover {
    transform: scale(0.99);
}

svg {
    margin: 2em;
}

footer {
    background-color: black;
    padding: 1em;
}

footer h6 {
    color: white
}

footer .line {
    border-color: white
}

footer p,a {
    text-decoration: none;
    color: var(--puregrey)
}

/*Responsive***********************/
/*From Phone to Tablet*/
@media (min-width: 300px) and (max-width: 960px) {
    nav .navbar-nav li a::after {
        display: none;
    }
    .navDivider {
        display: none;
     }
    .findWrapper {
        display: block;
        overflow: hidden;
    }
    .leftWrapper {
        width: 100%;
        height: 40%;
    }
    .card:hover {
        transform: none;
    }
    #searchResultsWrap {
        padding: 2em;
    }
    svg {
        margin: 0;
    }
    .DataFrom {
        margin-top: 0
    }
    /***Home section**/
    .Home {
        width: 100%;
        height: auto;
        padding-top: 3em;
        padding-bottom: 3em;
    }
    .HomeContainer {
        display: block;
    }
    #HomeLeft {
        margin-top: 1em;
        width: 100%;
        height: 100%;
    }
    #HomeILL {
        width: 400px;
        height: 400px;
        margin: auto;
        background-image: url('../imgs/homebgResponsive.svg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 100%
    }
    #HomeRight {
        width: 100%;
        height: 100%;
    }
    #HRcontainer {
        margin-top: 0;
        padding: 0;
    }
    
}

/*from tablet to laptop*/
@media (min-width: 768px) and (max-width: 960px) {
    nav .navbar-nav li a::after {
        display: none;
    }
    .findWrapper {
        display: block;
        overflow: hidden;
    }
    .card:hover {
        transform: none;
    }
    .DataFrom {
        margin-top: 0
    }
    .navDivider {
       display: none;
    }
}

/*from laptop to desktop */
@media (min-width: 960px) and (max-width: 1280px) {}

 /*from desktop to larger*/
@media(min-width: 1281px) {

}