.headerRow {
    display: flex;
    flex-direction: column;
    margin-top: 5em;
    margin-bottom: 5em;
 
}
.form-control{
  
    border: #121212;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
}
label {
    color: #A1A1A1;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
}
.headers {
    color: black;
    opacity: 0.85;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 28px;
    margin-bottom:30px;
    padding: 0;
}
.signforms{
    margin-left: 12.5em;
    margin-right:12.5em;
    margin-bottom: 4em;
    padding: 3em;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
.favWrapperCS{
    margin-bottom: 10em;

    border: #E4E7F1 solid 1px
}
.favcontainerBKG{
    background:#F4F4FA;
}
#signinoutBtn{
    margin-top: 2em;
    background: #141414;
    color:white;
    
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    
}
.form-control{
    background-color:#D8D8E5;
}
.form-group{

}
